table {
  td {
    border: 1px solid black;
    height: 10px;
    width: 10px;
  }
  .related {
    background: lightgrey;
  }
  .snake_0 {
    background: red;
  }
  .snake_1 {
    background: green;
  }
  .cookie {
    background: blue;
  }
}

form {
  max-width: 600px;
  label {
    float: left;
    display: block;
    width: 75%;
  }
  input {
    float: right;
    width: 50%;
  }
}
